body {
   min-width: 350px;
   min-height: 450px;
   background-color: rgba(226, 189, 119, 0.925);
}

.input-area {
    width: 250px;
    height: 80px;
    margin-left: 10px
}

.heading {
    margin-left: 30px;
    position: relative;
    top: 7px;
    left: 92px;
    font-family: 'Mynerve', cursive;
}



.layout-area {
    margin: 10px 10px 10px 10px;
}

.btn-primary {
    --bs-btn-hover-bg:rgb(165, 86, 22);
    --bs-btn-bg: rgb(148, 67, 67);
    --bs-btn-border-color: rgb(148, 67, 67);
    --bs-btn-hover-border-color:rgb(165, 86, 22);
}

.btn {
    position: relative;
    left: 23px;

}

.output-area{
    background-color:rgb(235, 163, 82);
    border-color:rgb(165, 86, 22);
    border-width: 2px;
    border-radius: 8px;
    padding: 5px;
    min-width: 150px;
    min-height: 200px;

}

.input-header{
    font-weight: 650;
    font-family: 'Oswald', sans-serif;
}

